**Standard Library Overview**

Python's Standard Library is vast collection of modules and packages that come bundled with Python, providing a wide range of funcalities out of the box. Here's an overview of some of the most commonly used modules and packages in the Python Standard Library.

In [1]:
import array
arr=array.array('i',[1,2,3,4])
print(arr)

array('i', [1, 2, 3, 4])

In [2]:
import math
print(math.sqrt(16))
print(math.pi)

4.0
3.141592653589793

In [5]:
## random

import random
print(random.randint(1,10))
print(random.choice(['apple','banana','cherry']))

4
cherry

In [8]:
### File And Directory Access

import os
print(os.getcwd())

c:\Users\Lenovo\OneDrive\Desktop\Python\Python full course\ImpCreMod&Packages

In [9]:
os.mkdir('test_dir')

In [11]:
## High level operations on files and collections of files

import shutil
shutil.copyfile('source.txt','destination.txt')

'destination.txt'

In [21]:
## Data Serialization
import json
data={'name':'Pavan','age':23}

json_str=json.dumps(data)
print(json_str)
print(type(json_str))

parsed_data=json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "Pavan", "age": 23}
<class 'str'>
{'name': 'Pavan', 'age': 23}
<class 'dict'>

In [22]:
## csv

import csv
with open('example.csv',mode='w',newline='') as file:
    writer=csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['Pavan',23])

with open('example.csv',mode='r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['Pavan', '23']

In [23]:
## datetime

from datetime import datetime,timedelta
now=datetime.now()
print(now)

yesterday=now-timedelta(days=1)

print(yesterday)

2025-11-24 12:52:14.539559
2025-11-23 12:52:14.539559

In [24]:
## time
import time 
print(time.time())
time.sleep(2)
print(time.time())

1763968986.6570702
1763968988.6591206

In [2]:
## Regular Expression

import re

pattern = r'\d+'
text = 'There are 123 apple 456'
match = re.search(pattern, text)
if match:
	print(match.group())
else:
	print('No match found')

123