Variable 
--------
 A variable in Python is a name that refers to a value stored in memory. It allows you to store, modify, and retrieve data in your program.

In [13]:
a=100

In [14]:
## Declaring and Assigning Variable

age = 23
height = 5.6
name = "Pavan"
is_student = True

## Printing the variables

print("age :",age)
print("Height :",height)
print("Name :",name)

age : 23
Height : 5.6
Name : Pavan

In [15]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter, number and underscores
## Variables names case sensitive

# Valid variables names 

first_name = "Pavan"
last_name = "Sundaraneedi"

In [16]:
#Invalid variable names

# 2age = 23
#first-name = "Krish"
#@name = "krish"

In [17]:
## case sensitivity 
name="pavan"
Name="pavone"

In [18]:
## Understanding the variable types
## Python is dynamically typed, type of a variable is determined at runtime

age = 23 #int
height = 5.7 #float
name = "krish" #str
is_student =True #bool

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [19]:
## Type Checking and conversion

type(height)

float

In [20]:
age=23
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
23
<class 'str'>

In [21]:
age="23"
print(type(int(age)))

<class 'int'>

In [22]:
name="Pavan"
int(name)

ValueError: invalid literal for int() with base 10: 'Pavan'

In [23]:
height=5.6
type(height)

float

In [24]:
float(int(height))

5.0

In [25]:
## Dynamic Typing
## Python allows the type of a variable to change as the program executes

var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [26]:
## Input

age=int(input("What is the age"))
print(age,type(age))

23 <class 'int'>

In [28]:
### Simple calculator 

num1 = float(input("Enter a number: "))
num2 = float(input("Enter a number: "))

add = num1 + num2
sub = num1 - num2
multiply = num1 * num2
divide = num1 / num2

print("Add:", add)
print("Sub:", sub)
print("Multiply:", multiply)
print("Divide:", divide)

Add: 20.0
Sub: 0.0
Multiply: 100.0
Divide: 1.0